/*==== Guangzhou Metro Guidance Identity System in CSS ====*/
/*================= Version 2.1 2017/11/26 ================*/
/*==================== Code By @df7c5117 ==================*/
/*============== https://github.com/df7c5117 ==============*/


/*Route Index*/
.Route{
	border-radius: 0.3em;
	height: 3em;
	width: 5em;
	padding: 0.2em;
}
.RouteName{
	color: #fff;
	text-align: center;
	font-size: 1.5em;
	font-weight: lighter;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}
.RouteSub{
	color: #fff;
	font-size: 0.7em;
	text-align: center;
	-webkit-margin-before: 0em;
}
.APM{
	text-align: right
}
.Left{
	text-align: left!important;
	margin-left: 5px
}

/*Station Index*/
.StaNumBox{
	white-space: nowrap;
	color: #000;
	border-radius: 0.8em;
	line-height: 1.4em;
}
.StaNumFront{
	display: inline-block;
	min-width: 1.2em;
	height: 1.4em;
	text-align: center;
	padding-left: 0.2em;
	padding-right: 0.1em;
}
.StaNumBack{
	display: inline-block;
	height: 1.4em;
	padding-left: 0.2em;
	padding-right: 0.2em
}
/*Platform Index*/
.Platform{
	display: inline-block;
	width: 4.5em;
	height: 4.5em;
	line-height: 1em;
	text-align: center;
	border-radius: 50%;
}
.PltName{
	color: #fff;
	padding-top: 0.3em;
	text-align: center;
	font-size: 2em;
	font-weight: lighter;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}
.PltSubChs{
	color: #fff;
	font-size: 0.8em;
	padding-top: 0.5em;
	text-align:center;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}
.PltSubEng{
	color: #fff;
	font-size: 0.8em;
	text-align:center;
	-webkit-margin-before: -0.2em;
	-webkit-margin-after: 0em;
}
/*Screen Door*/
.ScrDoor{
	display: inline-block;
	width: 4.3em;
	height: 4.6em;
	line-height: 1em;
	text-align: center;
	border-radius: 0.5em;
}
.ScrName{
	color: #fff;
	padding-top: 0.4em;
	text-align: center;
	font-size: 2em;
	font-weight: lighter;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}
.ScrSubChs{
	color: #fff;
	font-size: 0.8em;
	padding-top: 0.8em;
	text-align: center;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}
.ScrSubEng{
	color: #fff;
	font-size: 0.5em;
	text-align: center;
	-webkit-margin-before: -0.2em;
	-webkit-margin-after: 0em;
}

/*Color*/
.bg-Line1{background-color: #F3D03E}
.box-Line1{border: 2px solid #F3D03E}
.num-Line1{border-right: 2px solid #F3D03E}

.bg-Line2{background-color: #00629B}
.box-Line2{border: 2px solid #00629B}
.num-Line2{border-right: 2px solid #00629B}

.bg-Line3{background-color: #ECA154}
.box-Line3{border: 2px solid #ECA154}
.num-Line3{border-right: 2px solid #ECA154}

.bg-Line4{background-color: #00843D}
.box-Line4{border: 2px solid #00843D}
.num-Line4{border-right: 2px solid #00843D}

.bg-Line5{background-color: #C5003E}
.box-Line5{border: 2px solid #C5003E}
.num-Line5{border-right: 2px solid #C5003E}

.bg-Line6{background-color: #80225F}
.box-Line6{border: 2px solid #80225F}
.num-Line6{border-right: 2px solid #80225F}

.bg-Line7{background-color: #97D700}
.box-Line7{border: 2px solid #97D700}
.num-Line7{border-right: 2px solid #97D700}

.bg-Line8{background-color: #008C95}
.box-Line8{border: 2px solid #008C95}
.num-Line8{border-right: 2px solid #008C95}

.bg-Line9{background-color: #71CC98}
.box-Line9{border: 2px solid #71CC98}
.num-Line9{border-right: 2px solid #71CC98}

.bg-Line10{background-color: #7D9BC1}
.box-Line10{border: 2px solid #7D9BC1}
.num-Line10{border-right: 2px solid #7D9BC1}

.bg-Line11{background-color: #470A68}
.box-Line11{border: 2px solid #470A68}
.num-Line11{border-right: 2px solid #470A68}

.bg-Line12{background-color: #59621D}
.box-Line12{border: 2px solid #59621D}
.num-Line12{border-right: 2px solid #59621D}

.bg-Line13{background-color: #8E8C13}
.box-Line13{border: 2px solid #8E8C13}
.num-Line13{border-right: 2px solid #8E8C13}

.bg-Line14{background-color: #81312F}
.box-Line14{border: 2px solid #81312F}
.num-Line14{border-right: 2px solid #81312F}

.bg-Line15{background-color: #AE8A79}
.box-Line15{border: 2px solid #AE8A79}
.num-Line15{border-right: 2px solid #AE8A79}

.bg-Line16{background-color: #9E652E}
.box-Line16{border: 2px solid #9E652E}
.num-Line16{border-right: 2px solid #9E652E}

.bg-Line17{background-color: #8B84D7}
.box-Line17{border: 2px solid #8B84D7}
.num-Line17{border-right: 2px solid #8B84D7}

.bg-Line18{background-color: #D48BC8}
.box-Line18{border: 2px solid #D48BC8}
.num-Line18{border-right: 2px solid #D48BC8}

.bg-Line19{background-color: #BB29BB}
.box-Line19{border: 2px solid #BB29BB}
.num-Line19{border-right: 2px solid #BB29BB}

.bg-Line20{background-color: #D9017A}
.box-Line20{border: 2px solid #D9017A}
.num-Line20{border-right: 2px solid #D9017A}

.bg-Line21{background-color: #201747}
.box-Line21{border: 2px solid #201747}
.num-Line21{border-right: 2px solid #201747}

.bg-Line22{background-color: #041E42}
.box-Line22{border: 2px solid #041E42}
.num-Line22{border-right: 2px solid #041E42}

.bg-LineGF{background-color: #C4D600}
.box-LineGF{border: 2px solid #C4D600}
.num-LineGF{border-right: 2px solid #C4D600}

.bg-LineAPM{background-color: #00B5E2}
.box-LineAPM{border: 2px solid #00B5E2}
.num-LineAPM{border-right: 2px solid #00B5E2}

.bg-LineTHZ1{background-color: #44A729}
.box-LineTHZ1{border: 2px solid #44A729}
.num-LineTHZ1{border-right: 2px solid #44A729}

.bg-UC{background-color: #999}
.box-UC{border: 2px solid #999}
.num-UC{border-right: 2px solid #999}

/*UniverseColor*/
.Black{color: #000}
.White{color: #fff}
